<main id="main-content" class="page-main public-page legal-page" tabindex="-1">
      <section class="public-section section holding" aria-labelledby="legal-title">
        <p class="eyebrow">Rechtliches</p>
        <h1 id="legal-title">Jugendschutz</h1>
        <div class="rich-copy">
          <p>Viele Menschen, hohe Lautstärken, Spielzeiten bis in die späten Abendstunden – ist diese Veranstaltung für mein Kind geeignet? Bitte überlegen Sie gut, sie kennen Ihr Kind so gut wie sonst niemand. Sie können uns jederzeit hierzu anrufen (0711-55066077) oder per Mail info@stuttgart-live.de, wir beraten Sie gerne, denn manchmal ist es für alle entspannter etwas Geld in eine Kinderbetreuung zu investieren.</p>
          <p>Die Altersempfehlungen und Altersfreigaben sind für jede Veranstaltung detailliert geregelt. Diese sind rechtlich bindend und Teil unserer Allgemeinen Geschäftsbedingungen. Sie finden die Altersfreigaben unter der jeweiligen Veranstaltungsbeschreibung auf dieser Homepage.</p>
          <p>Generell orientieren sich die Altersfreigaben an folgenden Regelungen: Kinder unter 8 Jahren dürfen Abendveranstaltungen und Konzerte in der Regel nicht besuchen. In der Regel dürfen Kinder (unter 14 Jahren) Veranstaltungen nur in Begleitung einer erziehungsbeauftragten Person besuchen. Jugendliche (ab 14 Jahren) unter 16 Jahren dürfen in der Regel bis 22.00 Uhr auf Konzerte, Jugendliche über 16 Jahren bis 24.00 Uhr, danach nur in Begleitung einer personensorgeberechtigten oder erziehungsbeauftragten Person.</p>
          <p>Personensorgeberechtigte Personen sind Mutter und/oder Vater oder der Vormund. Erziehungsbeauftragte Person kann jede volljährige Person (über 18 Jahre) sein, wenn sie im Einverständnis mit den Eltern Erziehungsaufgaben tatsächlich wahrnimmt – sie muss im Rahmen der übertragenen Aufgabe Aufsichtspflichten nachkommen können, also in der Lage sein, die anvertrauten jungen Menschen zu leiten und zu lenken. Es ist eine Vollmacht zur Erziehungsbeauftragung vorzuweisen, die von den Eltern unterschrieben ist. Zudem ist eine Ausweiskopie des entsprechenden Elternteils beizufügen. Die o.g. verantwortliche Person hat das Kind auch während der Veranstaltung zu beaufsichtigen und benötigt eine Eintrittskarte. Pro Begleitperson können nur zwei Kinder beaufsichtigt werden. Alle Kinder und Jugendliche unter 18 Jahren sollten sich mit einem Kinder- oder Personalausweis ausweisen können.</p>
          <p>Hier stellen wir Ihnen das entsprechende Formular zum Download zur Verfügung:</p>
        </div>
      </section>
    </main>
