<p><strong>SKS Michael Russ GmbH</strong></p>
<p>Charlottenplatz 17<br>70173 Stuttgart<br>Germany</p>
<p>Phone: +49 (0) 711 16 353 11<br>Fax: +49 (0) 711 16 353 44<br>Email: info[at]russ-live.de</p>

<h2>Managing directors authorized to represent the company</h2>
<p>Michaela Russ, Paul Woog</p>

<h2>Commercial register</h2>
<p>HRB no.: 23472, Stuttgart Local Court</p>
<p>VAT ID no.: DE 225 570 318</p>

<h2>Membership</h2>
<p>Member of the Association of German Concert Agencies.</p>

<h2>Liability notice</h2>
<p>Despite careful content checks, we assume no liability for the content of external links. The operators of the linked pages are solely responsible for their content.</p>
